.container{
    height: 100%;
    width: 500px;
    align-items: center;
    color: black;
    background-color: skyblue;
}
.container h1{
    height: 56px;
    
    padding: 0 50px;    
    text-align: center;
    font-size: 30px;
}
.container form{
    padding: 8px 0;
    text-align: center;
    
}
.container form input{
    
    width: 200px;
    height: 29px;
    border-radius:8px ;
}
.container form button{
    padding: 5px 5px;
    border-radius:8px ;
    cursor: pointer;
}


.todoItem li{
    
    height: 29px;
    padding: 5px 20px;
    position: relative;
}
.completedBtn{
    position: absolute;
    right: 40px;
    cursor: pointer;
    border-radius:5px ;
    cursor: pointer;
}
.deleteBtn{
    position: absolute;
    right: 5px;
    cursor: pointer;
    border-radius:5px ;
    cursor: pointer;
}